<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-12" style="padding-left: 0px; cursor: pointer;" [routerLink]="['']" tourAnchor="home.start.tour" >
      <img src="../../assets/malariaSc_logo.png" style="height: 58px; width: 48px" >
    </div>
    <div class="col-md-8 col-xs-12" style="margin-top: 14px">
      <input
        tourAnchor="home.search"
        type="search"
        class="form-control"
        placeholder="{{'Search Malaria score card by name'}}">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card ">
    <div class="cart-body" style="height: 20px">
      <p [translate]="'Home'"> home</p>
    </div>
  </div>
</div>
