<div class="container-fluid p-3 border justify-content-center" *ngIf="dataStore">
  <div class="card">
    <div class="card-header" >
      <div class="card-title mb-0"><h4 class="mb-0">Mapping dhis oranit-unit level</h4></div>
    </div>
    <div class="card-body m-0">
      <div class="col-md-12">
<!--        <form action="" class="form-inline">-->
          <div class="row" *ngFor="let ouLevel of dataStore.orgUnitLevel">
            <label class="font-weight-bold align-middle col-md-1 text-right" for="region">Region</label>
            <select id="region" class="form-control col-md-1" [(ngModel)]="ouLevel.region" name="region">
              <option></option>
              <option [ngValue]="ol.level" [selected]="ouLevel.region == ol.level" value="{{ol.level}}"
                      *ngFor="let ol of orgUnitLevels">{{ol.name}}</option>
            </select>
            <label class="font-weight-bold col-md-1 mt-2 text-right" for="district">District</label>
            <select id="district" class="form-control col-md-1" [(ngModel)]="ouLevel.district" name="district">
              <option></option>
              <option [ngValue]="ol.level" [selected]="ouLevel.district == ol.level" value="{{ol.level}}"
                      *ngFor="let ol of orgUnitLevels">{{ol.name}}</option>
            </select>
            <label class="font-weight-bold col-md-1 mt-2 text-right" for="facility">Facility :</label>
            <select id="facility" class="form-control col-md-1" [(ngModel)]="ouLevel.facility" name="facility">
              <option></option>
              <option [ngValue]="ol.level" [selected]="ouLevel.facility == ol.level" value="{{ol.level}}"
                      *ngFor="let ol of orgUnitLevels">{{ol.name}}</option>
            </select>
            <label for="chw" class="font-weight-bold col-md-1 mt-2 text-right">CHW :</label>
            <select id="chw" class="form-control col-md-1" [(ngModel)]="ouLevel.chw" name="chw">
              <option></option>
              <option [ngValue]="ol.level" [selected]="ouLevel.chw == ol.level" value="{{ol.level}}"
                      *ngFor="let ol of orgUnitLevels">{{ol.name}}</option>
            </select>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="saveDataStore()">Save</button>
            </div>
          </div>
<!--        </form>-->
      </div>
    </div>
  </div>

  <div class="card-header text-center" >
    <div class="card-title"><h4>Mapping dhis data elements</h4></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row m-2 p-2 pt-3 pb-3 bg-secondary">
        <div class="col-md-1 bg-secondary">Group</div>
        <div class="col-md-5">Indicator</div>
        <div class="col-md-1">type</div>
        <div class="col-md-4">Data element</div>
        <div class="col-md-1">Action</div>
      </div>

      <div class="row m-2 p-2 bg-light " *ngFor="let indicator of dataStore.indicators; let i = index">
        <div class="col-md-1">{{indicator.groupCode}}</div>
        <div class="col-md-5">{{indicator.name}}</div>
        <div class="col-md-5" (dblclick)="editField(i)">
          <div class="row" *ngIf="i != editId">
            <div class="col-md-2 mb-0 align-middle">{{indicator.type | titlecase}}</div>
            <div class="col-md-10 mb-0">{{indicator.dhisName}}</div>
          </div>
          <div class="row" *ngIf="i == editId">
            <div class="col-md-12">
              <div class="row align-middle">
                <select [(ngModel)]="indicator.type" class="col-md-2 form-control mb-0" (ngModelChange)="loadElement($event, i)">
                  <option value=""></option>
                  <option value="indicator" [selected]="indicator.type == 'indicator'">Indicator</option>
                  <option value="data element" [selected]="indicator.type == 'data element'">Data Element</option>
                </select>
                <ng-select
                  [items]="elementsBoard[i]"
                  bindLabel="name"
                  bindValue="id"
                  class="col-md-8"
                  [(ngModel)]="indicator.dhisID"
                ></ng-select>
<!--                <select [(ngModel)]="indicator.dhisID" name="dhisID_{{i}}" class="col-md-8 select2 mat-autocomplete-panel">-->
<!--                  <option value=""></option>-->
<!--                  <option value="{{ind.key}}" [selected]="ind.key == indicator.dhisID" *ngFor="let ind of elementList[i] | keyvalue">{{ind.value}}</option>-->
<!--                </select>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 text-center">
          <button *ngIf="i != editId" class="btn btn-warning" (click)="editField(i)"><i class="fa fa-edit"></i></button>
          <button *ngIf="i == editId" class="btn btn-success mr-2" (click)="saveDataStore()"><i class="fa fa-save"></i></button>
          <button *ngIf="i == editId" class="btn btn-danger" (click)="cancelEdit()"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
