<ngx-dhis2-menu></ngx-dhis2-menu>
<div class="preview_header">
  <div class="preview_logo">
    <img src="../assets/malariaSc_logo.png" alt="Malaria Score Card Logo" width="100"/>
  </div>
  <div class="preview_action">
    <div class="preview_score">
      <button class="btn btn-primary" [ngClass]="{'btn-info':title === 'Malaria score card'}" [routerLink]="['/score']"> SCORE CARD</button>
    </div>
    <div class="preview_setting">
      <a href="#">
        <a class="btn btn-primary" [ngClass]="{'btn-info':title === 'Data setting'}" [routerLink]="['/setting']">
          <i class="fa fa-cog"></i>
          Setting
        </a>
      </a>
    </div>
    <div class="preview_translate">
      <a href="#" (click)="translate.use('fr')"><strong>FR</strong> </a> |
      <a href="#" (click)="translate.use('en')"><strong>EN</strong></a>
    </div>
  </div>
</div>
<div class="content" role="main">

</div>


<router-outlet></router-outlet>
